.intro-faq {
    h4 {
        color: $title;
        font-family: $font-title;
        font-size: 1.563rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
    }
    .questions-intro-faq {
        max-width: 100%;
        margin-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid;
        border-image: linear-gradient(138.34deg, rgba(86, 9, 240, 0.7) -11.36%, rgba(30, 181, 236, 0.7) 51.55%, rgba(182, 36, 230, 0.7) 113.16%) 1;
        cursor: pointer;

        .question {
            @include flexbox-between;

            h3 {
                color: $title;
                font-family: $font-text;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .answer {
            max-height: 0;
            overflow: hidden;
            transition: max-height 1.4s ease;

            p {
                padding-top: 1rem;
                list-style: 1.6;
                font-size: 16px;
                color: #d2d2d2;
                font-family: $font-text;
            }
        }
    }

    .questions-intro-faq.active .answer {
        max-height: 300px;
        animation: fade 1s ease-in-out;
    }

    .questions-intro-faq.active img {
        transform: rotate(180deg);
    }

    img {
        transition: transform 0.5s ease-in;
    }

    @keyframes fade {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
