header {
    padding-top: 28px;
    .grid-layout {
        .logo-name {
            display: flex;
            align-items: center;
            gap: $gap-1;
            
            span {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                font-family: $font-title;
                color: $title;
            }
        }

        nav {
            @include flexbox-between;
            .nav-list {
                display: flex;
                li {
                    margin-left: $gap-5;
                    @include responsive-tablet() {
                        margin-left: $gap-0;
                    }

                    a {
                        color: $title;
                        font-family: $font-title;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

@include responsive-tablet() {
    header .grid-layout nav .nav-list.nav-list {
        display: none;
    }

    header .grid-layout nav {
        padding: 0;
    }
}